{% extends 'base.html' %}

{% load static %}


{% block title %} Sustainable Development Goals
{% endblock %}


{% block content %}
					

<div class="container">
	<div class="row">
		<div class="col-md-12">
       <h4> <a href= "/"> Click here to go Home  </a> </h4>
	   <h4>  <a href="/matrix"> Goals Inter Relationships </a> </h4>

	   <h4>  <a href="/knowledgegraph/{{ goal_no }}"> Click Here to go to knowledge Graph </a> </h4>

	</div>
</div>
</div>




<div class="container goalgrid">
	<div class="row">
		
		<div class="col-md-12">
		
			<h2> Relation between Goals, Targets , Indicators against each other </h2>
			<table class="table table-bordered">
			  <thead>
				<tr>
					<th></th>
				  <th>Financial</th>
				  <th>Legal</th>
				  <th>Social</th>
				  <th>Environmental</th>
				  <th>Political</th>
				  <th>Technological</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
					<td> <b> Financial </b> </td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td></td>
				
				</tr>
				<tr>
					<td> <b> Legal </b> </td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				  
				  </tr>
				  <tr>
					<td> <b> Social </b> </td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				  
				  </tr>
				  <tr>
					<td> <b> Environmental </b> </td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				  
				  </tr>
				  <tr>
					<td> <b> Political </b> </td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				  
				  </tr>
				  <tr>
					<td> <b> Technological </b> </td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				  
				  </tr>

				
			  </tbody>
			</table>
		  


		
		</div>



	</div>
</div>


<br/><br/>
<div class="container">
	<div class="row">
		<div class="col-md-12">
       <h4>  Example Goal Inter Relations   </h4>
	   <h5> Reference Link : <a target= "blank" href = "https://knowsdgs.jrc.ec.europa.eu/interlinkages-visualization"> https://knowsdgs.jrc.ec.europa.eu/interlinkages-visualization  </a> </h5>
		
	  

        <img src= "{% static  'goals-inter.png' %}" alt="img">


      </div>

	</div>
</div>







{% endblock %}