{% extends 'base.html' %}

{% load static %}

{% block title %} Sustainable Development Goals
{% endblock %}


{% block content %}
					
<div class="container">
	<div class="row">
       <h4> <a href= "/"> Click here to go Home  </a> </h4>
		
	</div>
</div>


<div class="container goalgrid">
	<div class="row">
        <div class="col-md-12"></div>
        <h2>Correlation Between Goals  (Synergies & Trade-Offs ) </h2> <br/>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
                <th>Goals </th>
              <th>Goal 1</th>
              <th>Goal 2</th>
              <th>Goal 3</th>
              <th>Goal 4</th>
              <th>Goal 5</th>
              <th>Goal 6</th>
              <th>Goal 7 </th>
              <th>Goal 8 </th>
              <th>Goal 9</th>
              <th>Goal 10 </th>
              <th>Goal 11</th>
              <th>Goal 12</th>
              <th>Goal 13</th>
              <th>Goal 14</th>
              <th>Goal 15</th>
              <th>Goal 16</th>
              <th>Goal 17</th>
              
            </tr>
          </thead>
          <tbody>
            
            
                {% for c in corrs %}
                        
                <tr>
                     <td> <b> Goal {{ forloop.counter }} </b> </td>
                            {% for k,v in c.items %}
                                    


                            <td class="gscore" value= {{ v }}>
                                    {{ v }}

                            </td>

           

                             {% endfor %}

                            </tr>

               {% endfor %}
    
             
    




           
          </tbody>
        </table>
	</div>
</div>

</div>


					
<div class="container">
	<div class="row">

      <div class="col-md-12">

        <img src= "{% static  'interconnections.jpg' %}" alt="img">


      </div>

	</div>
</div>





{% endblock %}