{% extends 'base.html' %}

{% load static %}


{% block title %} Sustainable Development Goals
{% endblock %}


{% block content %}
					

<div class="container">
	<div class="row">
		<div class="col-md-12">
       <h4> <a href= "/"> Click here to go Home  </a> </h4>


	</div>
</div>
</div>



<br/><br/>
<div class="container">
	<div class="row">
		<div class="col-md-12">
       <h4>  Success Stories / Case-Studies   </h4>
	   <h5> Reference Link : <a target= "blank" href = "https://www.theheinekencompany.com/our-sustainability-story/our-value-chain-and-un-sdgs"> Heineken Success Story  </a> </h5>
		
	   <h5> Reference Link : <a target= "blank" href = "https://sdgs.un.org/publications/sdg-good-practices-2nd-edition-2022"> https://sdgs.un.org/publications/sdg-good-practices-2nd-edition-2022  </a> </h5>




      </div>

	</div>
</div>







{% endblock %}