{% extends 'base.html' %}

{% block title %} Sustainable Development Goals
{% endblock %}


{% block content %}
					

<div class="container">
	<div class="row">
       <h4> <a href= "/"> Click here to go Home  </a> </h4>
		
	</div>
</div>
<br/>
<div class="container">
	<div class="row">
		
       <h4> <u> Targets & Indicators for Goal {{ goal_no  }} </u> </h4>
		
	</div>
</div>


<div class="container goalgrid">
	<div class="row">

		{% for t in tgts %}
		
		
	<a href="">	<h4> {{ t.attributes.target_no }}   	{{ t.attributes.Target_desc }}.     	{{ i.attributes.Goal_short }}  </a>  </h4>
		
		</a>

        {% for i in inds %}
		
                    {% if  i.attributes.target_id  ==  t.attributes.target_no    %}
  	<h6> 	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	{{ i.attributes.Indicator_id }}    	{{ i.attributes.Indicator_desc }}   
          
    </h6>
                        
                   {% endif %}

				 
	

		{% endfor %}

		<br/>
		<br/>
	

		{% endfor %}
	</div>
</div>








{% endblock %}